$error: #FF8484;

// 默认主题颜色
$default-theme:#38C9CC;
$default-color:#38C9CC;

// 默认字体颜色
$font-color: #303133;

// 删除
$color-delete: #606266;

// border颜色
$border-color-base: #e3e3ec; // 边框颜色
$border-color-hover: #bfcbd9; //边框hover颜色
$border-radius-base: 3px; //边框圆角

/* Sidebar */
$sideBarWidth: 200px;
$subMenuBg:#1f2d3d;
$subMenuHover:#38C9CC;
$subMenuActiveText:#f4f4f5;